.users {
    margin: 2rem auto;
    width: 98%;
    max-width: 40rem;
    border-radius: 0.5rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  
  .users Button {
   margin-left: 390px;
  }